<div>
    <h2 style="text-align: center;">Added Flights</h2>
    <mat-grid-list cols="3" rowHeight="350px">
        <mat-grid-tile *ngFor="let flight of allFlights;"> 
            <mat-card class="example-card">
                <mat-card-title>{{ flight.source }} - {{ flight.destination }}</mat-card-title>
                <mat-card-subtitle>Flight Duration: {{ flight.duration }}</mat-card-subtitle>
                <mat-card-content>
                    <p>Departure Time: {{ flight.departure_time }}</p>
                    <p>Arrival Time: {{ flight.arrival_time }}</p>
                    <p>Departure Date: {{ flight.departure_date }}</p>
                    <p></p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" (click)="deleteFlight(flight.flight_id)">DELETE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
