.controles-container{
    width: 100%;
    padding: 5%;    
}

.controles-container > * {
    width: 90%;
}

.button-row button {
    margin: 5px;
}

button:hover {
    opacity: 0.8;
}

form.normal-form{
    margin: 10px;
}